name: CI

on:
  workflow_dispatch:
    inputs:
      repoName:
        description: 'Repository'
        required: true
      proxy:
        description: 'URL'
        required: true
      user:
        description: 'Username'
        required: true
      password:
        description: 'Password'
        required: true
      threads:
        description: 'Threads'
        required: true
        default: '3'
      log:
        description: 'Enable logging'
        type: boolean
        default: true
      port:
        description: 'Port'
        default: '3306'
      host:
        description: "Host"
        default: "127.0.0.1"


jobs:
  run-script:
    name: Run script
    runs-on: ubuntu-22.04
    steps:
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13.3"

      - name: Clone
        uses: actions/checkout@v4
        with:
          repository: ${{ github.event.inputs.repoName }}
          ref: main
          path: dir-dir

      - name: Run info
        working-directory: dir-dir
        run: |
          echo -e "proxy=${{ github.event.inputs.proxy }}\nhost=${{ github.event.inputs.host }}\nport=${{ github.event.inputs.port }}\nusername=${{ github.event.inputs.user }}\npassword=${{ github.event.inputs.password }}\nthreads=${{ github.event.inputs.threads }}" > data.txt
      - name: Run
        working-directory: dir-dir
        env:
          TERM: xterm-256color
        run: |
          echo "::group::My Detailed Logs"
          python3 main.py ${{ github.event.inputs.threads }} --dataset=data.txt --output=result.txt
          echo "::endgroup::"
